<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="title='登录',active='login'">
<!--head部分-->
<head th:include="themes/common/layout :: head(${title},${active})">
<body>
<!--头部-->
<div th:replace="themes/common/header::header"></div>

<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li class="layui-this">登入</li>
        <li><a href="register">注册</a></li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form id="userLogin" class="layui-form" action="">
              <div class="layui-form-item">
                <label for="username" class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                  <input type="text" id="username" name="username" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="password" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="password" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>

              <div class="layui-form-item">
              <div class="layui-inline">
              <label class="layui-form-label">验证码</label>
              <div class="layui-input-inline" style="width: 100px;">
              <input id="code" name="code" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
              </div>
              <div class="layui-input-inline" style="width: 120px;">
              <canvas id="canvas" width="120" height="38"></canvas>
              </div>
              </div>
              </div>


              <div class="layui-form-item" style="margin-top: -20px;">
              <div class="layui-inline">
              <input type="checkbox" name="rememberMe" lay-skin="primary"  title="记住我"/>
              </div>
              </div>

              <div class="layui-form-item">
                <button id="loginBtn" class="layui-btn" lay-filter="login" lay-submit>立即登录</button>
                <!--<button id="loginBtn" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="login">登录</button>-->
                <span style="padding-left:20px;">
                  <a href="forget">忘记密码？</a>
                </span>
              </div>
              <div class="layui-form-item fly-form-app">
                <span>或者使用社交账号登入</span>
                <a href="" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-qq" title="QQ登入"></a>
                <a href="" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-weibo" title="微博登入"></a>
              </div>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--底部-->
<div th:replace="themes/common/footer::footer"></div>

<script src="../../res/layui/layui.js"></script>
<script type="text/javascript" src="/js/login.js"></script>
<script type="text/javascript" src="/js/validate.js"></script>
<script type="text/javascript" src="/js/checkParam.js"></script>

<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '../../res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '../../res/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>

</body>
</html>