<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="fly-panel-title fly-filter" th:fragment="filter">
  <a href="all" class="layui-this">全部</a>
  <span class="fly-mid"></span>
  <a href="image">图片</a>
  <span class="fly-mid"></span>
  <a href="text">文字</a>
  <span class="fly-mid"></span>
  <a href="best">精华</a>
  <span class="fly-filter-right layui-hide-xs">
    <a href="new" class="layui-this">按最新</a>
    <span class="fly-mid"></span>
    <a href="hot">按热议</a>
  </span>
</div>
</html>