<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title,active)">
    <meta charset="utf-8">
    <title><th:block th:text="${title!=null?title:'社区'}+''"></th:block></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="论坛,社交,社区">
    <meta name="description" content="社区,提供交流的平台">

    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.serializejson.min.js"></script>
    <script src="/js/checkParam.js"></script>
    <script src="/js/common.js"></script>
    <script src="../../res/layui/layui.js"></script>
    <link rel="stylesheet" href="../../res/layui/css/layui.css">
    <link rel="stylesheet" href="../../res/css/global.css">

    <link rel="stylesheet" href="http://mstatic.spriteapp.cn/xx/122/w3/css/ui.css">
    <link rel="stylesheet" href="http://mstatic.spriteapp.cn/xx/126/w3/css/user.css">

    <link rel="stylesheet" href="../css/index.css">
</head>
</html>
